<form [formGroup]="taskForm" class="dialog">
  <h2 mat-dialog-title>
    <editable *ngIf="isOwner" (save)="save()" (cancel)="cancel()">
      <ng-template viewMode><span [ngClass]="{placeholder: !task.title}">{{ task.title || 'Task title' }}</span></ng-template>
      <ng-template editMode>
        <mat-form-field fxFlex="100%">
          <input type="text" matInput placeholder="Task title" editableFocusable editableOnEnter editableOnEscape formControlName="title" />
        </mat-form-field>
      </ng-template>
    </editable>
    <span *ngIf="!isOwner">{{ task.title }}</span>
  </h2>
  <mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <span class="status">{{ task.status }}</span>
      <span class="owner" *ngIf="isOwner">submitted by me</span>
      <span class="owner" *ngIf="!isOwner">submitted by: {{ task.owner?.name }}</span>
    </div>
    <div class="dates" fxLayout="row" fxLayoutAlign="space-between center">
      <span>created: {{ task.createdAt | date:'medium' }}</span>
      <span>last updated: {{ task.updatedAt | date:'medium' }}</span>
    </div>
  </mat-dialog-content>
  <div class="close">
    <a mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></a>
  </div>
  <div class="delete" *ngIf="isOwner">
    <button mat-fab color="accent" (click)="delete()"><mat-icon>delete</mat-icon></button>
  </div>
</form>
